POSTGRES_DB=zellarc_technologies
POSTGRES_USER=suneeb
POSTGRES_PASSWORD=change-me

DB_USER=suneeb
DB_PASSWORD=change-me

HOST_ODOO_PORT=18069
HOST_LONGPOLLING_PORT=18072
HOST_PG_PORT=15432

HOST_PG_DATA=./data/postgres
HOST_ODOO_DATA=./data/odoo